# NEXT_PUBLIC_OPENSOULS_ORG="you-org-id-here"
NEXT_PUBLIC_OPENSOULS_BLUEPRINT="code-monkey"
NEXT_PUBLIC_USER_AVATAR="https://api.dicebear.com/8.x/notionists-neutral/svg?backgroundColor=b6e3f4,c0aede,d1d4f9,ffd5dc,ffdfbf"
